.container {
  margin-top: 0;
}

.wrapper {
  flex-direction: column;
  padding: 1rem;
}

.wrapper__right {
  order: -1;
}

.img__dt {
  display: none;
}

.img__mb {
  content: url(../images/image01.png);
  max-width: 100%;
}

/* wrapper left */

.wrapper__left-description {
  margin: 0 1rem;
}

.wrapper__left-buttons {
  margin: 2rem 0;
  justify-content: space-evenly;
}

/* .btn {
  flex: 1;
  text-align: center;
  font-size: 0.5rem;
  padding: 0.6rem 0.8rem;
  margin: 0.5rem 2rem;
} */

.wrapper__left-description h1 {
  font-size: 1.4rem;
  margin-top: 1rem;
  text-align: center;
}
.wrapper__left-description h3 {
  font-size: 0.8rem;
  text-align: center;
}

.wrapper__left-description p {
  text-align: center;
  margin-top: 0.3rem;
  font-size: 0.8rem;
}

/* footer */

footer {
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 1.5rem;
}

.rights {
  margin-top: 0.5rem;
}

/* subpage */

.container_sub {
  grid-template-columns: repeat(2, 1fr);
}
